body {
    /* background-color: #008b8b; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('backtile.jpg');
    color: #ffffff; /* Optional: Set text color to white for better contrast */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the body fill the entire viewport */
    text-align: center;
}

button {
    background-color: #ffffff;
    color: #008b8b;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #006666; /* Darker shade for hover effect */
    color: #ffffff;
}